/* keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* general */
hr {
  display: block;
  position: relative;
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  border: 0;
}

main {
  display: block;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

summary {
  display: block;
}

body {
  margin: 0;
  position: relative;
  background-color: #fff;
  font-family: "century-gothic", sans-serif;
  text-align: center;
}

button {
  overflow: visible;
  font: inherit;
  line-height: initial;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

input {
  overflow: visible;
  font: inherit;
  line-height: initial;
  margin: 0;
}

select {
  overflow: visible;
  font: inherit;
  line-height: initial;
  margin: 0;
  text-transform: none;
}

[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

legend {
  box-sizing: border-box;
  padding: 0;
  display: table;
  max-width: 100%;
  white-space: normal;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

canvas {
  display: inline-block;
}

progress {
  display: inline-block;
}

video {
  display: inline-block;
}

[hidden] {
  display: none;
}

template {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  outline-width: 0;
}

a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
  font-family: "century-gothic", sans-serif;
  margin: 0;
  text-align: center;
  color: #fff;
  font: 400 44px/1.1 "century-gothic", sans-serif;
  font-size: 26px;
  font-weight: 300;
  display: block;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

[type=button] {
  cursor: pointer;
}

[type=reset] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

[disabled] {
  cursor: default;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before {
  display: table;
  content: "";
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}

address {
  font-style: normal !important;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

[class*=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

[class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

.fixons {
  z-index: 103;
}

.flex-ed {
  display: flex;
  flex-flow: row wrap;
}

.col-flex-ed {
  display: flex;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.star:before {
  font-size: 28px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #febb21;
  letter-spacing: 8.4px;
}

p {
  font: 300 20px/30px "century-gothic", sans-serif;
  color: #1D271B;
}

h2 {
  text-align: left;
  color: #67798D;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "century-gothic", sans-serif !important;
}

h3 {
  font-size: 32px;
  line-height: 1.41;
  margin-top: 10px;
}

h2, h3, h4, h5, h6 {
  font-family: "century-gothic", sans-serif;
}

.progress {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
  position: relative;
  font-size: 50%;
  line-height: 0;
  bottom: -0.25em;
}

sup {
  vertical-align: baseline;
  position: relative;
  font-size: 50%;
  line-height: 0;
  top: -0.45em;
}

.block {
  display: block;
}

.elem-left {
  display: block;
}

.elem-right {
  display: block;
}

article {
  display: block;
}

aside {
  display: block;
}

details {
  display: block;
}

figcaption {
  display: block;
  text-align: center;
  font: 400 18px/1 "century-gothic", sans-serif;
  text-transform: uppercase;
  color: #B2895F;
}

strong {
  margin-top: 0;
  font-weight: 400;
  display: block;
  font-size: 28px;
  font-family: "century-gothic", sans-serif;
  text-transform: uppercase;
}

figure {
  display: block;
  margin: 0;
}

/* header */
header {
  position: relative;
  padding: 0;
  z-index: 100;
  background-color: #fff;
}
header address {
  padding: 0 8px;
}
header .address {
  text-align: left;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.55px;
}
header .address:hover {
  color: #B2895F;
}
header .address i:before {
  color: #B2895F;
  font-size: 22px;
  margin-left: -10px;
  margin-right: 15px;
  margin-top: -5px;
}
header #nav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header #nav .btn {
  margin: 0;
  padding: 13px 30px;
  text-transform: uppercase;
  display: flex;
  transition: 0.3s all ease;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  background-color: #B2895F;
  max-width: 470px;
  display: flex;
  color: #fff;
  font-family: "century-gothic", sans-serif;
  font-weight: 700;
  border-radius: 30px;
}
header #nav .btn i:before {
  margin-right: 10px;
  margin-top: -2px;
}
header #nav .btn span {
  display: block;
  width: 100%;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 600;
}
header #nav .btn:hover {
  background-color: #8EA8C2;
  color: #fff;
}
header #nav #header-details .pho {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 35px;
}
header #nav #header-details .pho:hover {
  color: #B2895F;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 1;
  height: 64px;
}
header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
  margin: auto;
  text-transform: uppercase;
}
header #nav #mobile-btns .btn span {
  width: 100%;
  font-size: 28px;
}
header #nav #mobile-btns .phone, header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header #nav #mobile-btns .phone span, header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  background-color: #67798D;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
}
header #nav #mobile-btns .phone span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
header #nav #mobile-btns #mobile-special .container {
  margin: 10px 0;
  border-top: 2px solid #AFB1B1;
  border-bottom: 2px solid #AFB1B1;
  padding: 5px;
}
header #nav #mobile-btns #mobile-special .container h4 {
  color: #8EA8C2;
  font-size: 22px;
  margin: 0;
}
header #nav #mobile-btns #mobile-special .container small {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideIn;
  z-index: 999;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
.fix-nav header .logo {
  margin-bottom: 0;
}
.fix-nav header .logo img {
  max-height: 125px;
}

#safe-bar {
  width: 100%;
  position: relative;
  background: #8EA8C2;
  z-index: 10;
  box-shadow: 1.6px 2.5px 13px rgba(7, 8, 8, 0.35);
  color: #fff;
  font: 400 24px/1.2 "century-gothic", sans-serif;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
#safe-bar span {
  margin: 0 30px;
}
#safe-bar div {
  margin: 0 30px;
}

.pho {
  display: flex;
  color: #000;
  font: 700 37px/30px "century-gothic", sans-serif;
}
.pho span {
  display: block;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "century-gothic", sans-serif;
}
.pho:hover {
  color: #B2895F;
}
.pho i {
  display: flex;
  align-items: center;
}
.pho i:before {
  color: #B2895F;
  font-size: 22px;
  margin-left: 0px;
  margin-right: 15px;
}

.mobile-banner-reviews {
  display: none;
}

#three-ways {
  max-width: 1350px;
  margin: auto auto 50px;
}
#three-ways h2 {
  position: relative;
  display: flex;
  align-items: center;
}
#three-ways h2:before {
  content: "";
  height: 2px;
  flex: 1;
  margin-right: 30px;
  background-color: #000;
}
#three-ways h2:after {
  content: "";
  height: 2px;
  flex: 1;
  margin-left: 30px;
  background-color: #000;
}

.personalized {
  position: relative;
  margin: 0;
  max-width: 1040px;
  background-color: #67798D;
  padding: 20px 10px 30px;
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
  flex: 0 1 544px;
  height: 340px;
  padding: 40px 0;
}
.personalized h2 {
  margin: 0;
  text-align: center;
  color: #fff;
  font: 300 50px/1.1 "century-gothic", sans-serif;
  position: relative;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
  font-family: "century-gothic", sans-serif;
}
.personalized h2 span {
  font-family: "century-gothic", sans-serif;
  letter-spacing: normal;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.personalized h1 {
  position: relative;
  line-height: 1;
  margin-top: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "century-gothic", sans-serif;
  font-size: 45px;
}
.personalized h1 span {
  font-family: "century-gothic", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  font-size: 24px;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}
.personalized:last-of-type .border-box:before {
  width: 80px;
}
.personalized:last-of-type .border-box:after {
  width: 80px;
}

.header-info {
  display: contents;
}

.address {
  color: #1D271B;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 300;
  font-family: "century-gothic", sans-serif;
}
.address:hover {
  color: #1D271B;
}

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 12px 30px;
  color: #B2895F;
  font: 500 18px/1 "Playfair Display", serif;
  transition: border 0.3s;
  background-color: #B2895F;
  letter-spacing: 1.8px;
  border-radius: 7px;
}
.btn:hover {
  background-color: #B2895F;
  background-color: #B2895F;
  color: #1D271B;
  color: #1D271B;
}

.btn-alt {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 12px 30px;
  color: #1D271B;
  font: 500 18px/1 "Playfair Display", serif;
  transition: border 0.3s;
  background-color: #B2895F;
  letter-spacing: 1.8px;
  border-radius: 7px;
}
.btn-alt:hover {
  background-color: #B2895F;
  background-color: #B2895F;
  color: #1D271B;
  color: #1D271B;
}

.split {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.split article {
  margin: 10px;
  flex: 0 1 585px;
}
.split figure img {
  position: relative;
}

.split.even figure {
  order: -1;
  margin-right: 40px;
}

#banner {
  overflow: hidden;
}
#banner figure {
  margin-top: 0;
  position: relative;
}
#banner figure img {
  position: relative;
  width: 100%;
}
#banner figure #mobile-banner {
  display: none;
}
#banner .reader-stamp {
  max-width: 170px;
  position: absolute;
  bottom: 100px;
  right: 20%;
}
#banner figcaption {
  position: absolute;
  bottom: 80px;
  font-size: 16px;
  left: 25%;
  color: #1D271B;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 20px;
  font-family: "century-gothic", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.65px;
}

#banner-bar {
  position: relative;
  top: -80px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 3px 3px lightgray;
  max-width: 1200px;
}
#banner-bar #top-dentist {
  display: none;
}
#banner-bar h2 {
  font-family: "century-gothic", sans-serif !important;
  font-size: 32px;
  color: #1D271B;
  text-transform: none;
  margin: 20px 30px 20px 60px;
  font-weight: 300;
  letter-spacing: normal;
}
#banner-bar .special-badge {
  position: absolute;
  left: -55px;
  top: -45px;
}
#banner-bar div {
  display: flex;
  align-items: center;
  max-width: 82%;
  margin: auto 30px auto auto;
}

.lists {
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 20px auto;
}
.lists .flex-ed {
  justify-content: space-around;
}
.lists .flex-ed:first-of-type {
  margin-bottom: 50px;
}
.lists .flex-ed .image {
  display: flex;
  align-items: center;
}
.lists .flex-ed .image img {
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
}
.lists:first-of-type .image {
  padding: 0;
}
.lists.odd .image {
  padding: 0;
}
.lists sup {
  top: -0.7em;
}
.lists > h2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.lists > h2:before {
  content: "";
  height: 2px;
  flex: 1;
  margin-right: 70px;
  background-color: #000;
}
.lists > h2:after {
  content: "";
  height: 2px;
  flex: 1;
  margin-left: 70px;
  background-color: #000;
}

#credentials {
  border-top: 5px solid #B2895F;
  border-bottom: 5px solid #B2895F;
  margin: 50px auto;
}
#credentials > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: 20px auto;
}
#credentials span {
  margin: 20px;
}

#stamp {
  position: absolute;
  z-index: 2;
  top: -135px;
  left: 0;
  right: 0;
  margin: auto;
}

.border-box:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  height: 71%;
  width: 30px;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px 0 0 20px;
}
.border-box:after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
  height: 71%;
  width: 30px;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 20px 20px 0;
}

.list {
  text-align: left;
  display: table;
  margin: auto;
}
.list ul {
  padding-left: 0;
  padding-bottom: 10px;
}
.list ul li {
  width: 100%;
  color: #fff;
  font: 400 24px/1.2 "century-gothic", sans-serif;
  letter-spacing: 0.6px;
  padding-left: 32px;
  padding-top: 10px;
  list-style: none;
  position: relative;
}
.list ul li:before {
  content: "\e832";
  font-family: "fontello";
  color: #fff;
  font-size: 0.9em;
  position: absolute;
  top: 10px;
  left: -2px;
}

.looking {
  max-width: 1140px;
  margin: 70px auto 20px;
  box-shadow: 1px 4px 6px lightgray;
  border-radius: 5px;
  background-color: #8EA8C2;
  padding: 20px;
}
.looking p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
  padding: 15px 10px;
  text-align: center;
  -webkit-box-align: center;
  color: #fff;
  align-items: center;
}
.looking p span {
  font-size: 30px;
  font-weight: 400;
}
.looking .flex-ed {
  max-width: 660px;
  justify-content: space-between;
  margin: 30px auto;
}
.looking .flex-ed span {
  color: #fff;
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  margin-top: 18px;
  padding-left: 50px;
}
.looking .flex-ed img {
  margin: 0;
}

.bkgrd {
  padding: 0 0 1px;
  position: relative;
}

.insurance {
  text-align: left;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
.insurance .container {
  max-width: 1220px;
  margin: auto;
  padding: 30px 30px 0;
  text-align: center;
}
.insurance .container > span {
  display: block;
  margin-bottom: 20px;
  opacity: 0.4;
}
.insurance #insurance-list, .insurance #awards-list {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.insurance #insurance-list span {
  margin: 20px auto;
}
.insurance h2 {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 15px;
  margin: 10px auto -15px;
  justify-content: center;
  font-family: "century-gothic", sans-serif;
}
.insurance h2 span {
  margin: 0 10px;
  color: #8EA8C2;
}
.insurance h2:before {
  content: "";
  height: 2px;
  flex: 1;
  margin-right: 70px;
  background-color: #000;
}
.insurance h2:after {
  content: "";
  height: 2px;
  flex: 1;
  margin-left: 70px;
  background-color: #000;
}
.insurance .flex-ed {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.insurance .flex-ed span {
  padding: 5px;
  margin: 5px 10px;
}
.insurance p {
  line-height: 30px;
  margin: 10px auto;
  font-size: 19px;
}
.insurance #disclaimer {
  opacity: 0.4;
  font: 400 14px/1 "century-gothic", sans-serif;
  margin-top: 20px;
  text-align: center;
}

#education {
  padding-bottom: 0;
}

#dentist {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 20px 10px 60px;
  flex-wrap: nowrap;
}
#dentist article {
  text-align: left;
  padding: 5px;
}
#dentist article h2 {
  margin: 15px 0;
}
#dentist article h2 span {
  color: #8EA8C2;
}
#dentist figure {
  position: relative;
  margin-bottom: -1px;
}
#dentist figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
}
#dentist figure figcaption a {
  color: #1D271B;
  font-weight: 500;
  font-weight: 600;
  letter-spacing: 1.4px;
}
#dentist figure figcaption a:hover {
  color: #B2895F;
}
#dentist figure figcaption span {
  margin: 0 10px;
}

.caption {
  position: relative;
  display: table;
  margin: -20px auto 20px;
  padding: 0 5px;
  color: #B2895F;
}
.caption a {
  color: #B2895F;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font: 400 16px/1 "century-gothic", sans-serif;
  bottom: 0;
  margin: auto;
}
.caption a span {
  margin: 0 10px;
}
.caption a:hover {
  color: #1D271B;
}

#reviews {
  background: url(assets/images/lp-combo-reviews-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}

#review-container {
  position: relative;
  max-width: 1400px;
  color: #fff;
  align-items: center;
  padding: 0;
  margin: auto;
  flex-wrap: nowrap;
  border-radius: 10px;
}
#review-container .comment {
  flex: 1 1 780px;
  padding: 35px 50px 45px;
  text-align: left;
  margin: auto;
}
#review-container .comment img {
  margin: 0;
}
#review-container .comment p {
  font: 300 33px/38px "century-gothic", sans-serif;
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  letter-spacing: 0.03em;
}
#review-container .comment #caption {
  display: flex;
  flex-wrap: wrap;
}
#review-container .comment #caption .caption2 {
  font: 500 18px/1 "century-gothic", sans-serif;
  text-transform: uppercase;
  margin: 10px 20px 10px 0;
  letter-spacing: 1.95px;
}
#review-container .comment #caption .star {
  align-self: center;
}

#practice {
  padding: 70px 15px 80px;
}
#practice h2 {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 10px 20px 15px;
  margin: auto;
  justify-content: center;
  font-family: "century-gothic", sans-serif;
  text-align: center;
  max-width: 1100px;
}
#practice h2 span {
  margin: 0 10px;
  color: #8EA8C2;
}
#practice h2:before {
  content: "";
  height: 2px;
  flex: 1;
  margin-right: 70px;
  background-color: #000;
}
#practice h2:after {
  content: "";
  height: 2px;
  flex: 1;
  margin-left: 70px;
  background-color: #000;
}
#practice p {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
#practice .container {
  max-width: 1200px;
  padding-top: 20px;
  margin: auto;
}
#practice .flex-ed {
  justify-content: space-between;
  max-width: 1120px;
  margin: auto;
  flex-wrap: nowrap;
}
#practice .flex-ed > div {
  margin: 10px;
}
#practice img {
  flex: 0 1 auto;
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);
}
#practice .pager span {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: inline-block;
}
#practice .pager span + span {
  margin-left: 14px;
}
#practice .pager span.cycle-pager-active {
  background-color: #B2895F;
}

#contact {
  flex: 0 1 370px;
  padding: 0 10px 20px;
}

#map {
  display: table;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
#map iframe {
  display: block;
}

.simple {
  margin: 20px 0 5px;
}
.simple .btn {
  width: 140px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}
.simple .btn:focus {
  box-shadow: inset 0 3px 0 #31A8D1;
}
.simple input {
  height: 36px;
  outline: none;
  border: none;
  margin: 3px 0;
  width: 90%;
  padding: 3px 10px;
  font-size: 14px;
  color: #1D271B;
}
.simple input:focus {
  box-shadow: inset 0 3px 0 #B2895F;
}
.simple textarea {
  height: 80px;
  padding-top: 8px;
  outline: none;
  border: none;
  margin: 3px 0;
  width: 90%;
  padding: 3px 10px;
  font-size: 14px;
  color: #1D271B;
}
.simple textarea:focus {
  box-shadow: inset 0 3px 0 #31A8D1;
}

::-moz-placeholder {
  color: #1D271B;
  color: #1D271B;
}

::placeholder {
  color: #1D271B;
  color: #1D271B;
}

.hours {
  display: table;
  margin: 0;
  position: relative;
  padding: 10px 15px;
}
.hours .hour-title {
  font-size: 22px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #B2895F;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}
.hours label {
  width: 115px;
  display: inline-block;
  font-weight: 600;
}
.hours p {
  font-size: 17px;
  color: #B2895F;
  line-height: 1.5;
  font-family: "century-gothic", sans-serif;
  text-align: left !important;
}

.frame {
  overflow: hidden;
  display: table;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}
.frame iframe {
  height: 360px;
  display: block;
  max-width: 520px;
  margin: auto;
  width: 100%;
  border-radius: 15px;
}

/* footer */
footer {
  display: block;
  z-index: 102;
  padding-top: 50px;
  background-color: #67798D;
}
footer .flex-ed {
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto auto 50px;
  max-width: 1300px;
}
footer .flex-ed #footer-info, footer .flex-ed #map {
  height: 395px;
}
footer #footer-info {
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  max-width: 490px;
  justify-content: center;
}
footer #footer-info img {
  max-width: 250px;
}
footer #footer-info p {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
footer #footer-info p span {
  font-size: 32px;
}
footer h2 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin-top: 10px;
  text-transform: none;
}
footer h2 span {
  color: #8EA8C2;
}
footer h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer article {
  border-radius: 10px;
  text-align: center;
  margin: 0px;
  flex: 0 1 320px;
}
footer #contact {
  color: #fff;
  flex: 0 1 750px;
}
footer #contact h3 {
  font-size: 30px;
  margin-bottom: 0;
}
footer .phone {
  font-size: 31px;
  color: #B2895F;
  margin: 20px auto 0;
  font-weight: 700;
  display: block;
  width: 100%;
  letter-spacing: 0.28px;
}
footer .phone:hover {
  color: #8EA8C2;
}
footer .phone small {
  font-size: 19px;
  display: block;
  text-transform: uppercase;
  color: #000;
}
footer .address {
  font-size: 20px;
  line-height: 25px;
  margin: 5px;
}
footer .address:hover {
  color: #B2895F;
}

.copy {
  padding: 30px 10px;
  background-color: #000;
  margin: auto;
  letter-spacing: 1px;
  font: 300 14px/1.4 "century-gothic", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.copy p {
  margin: 20px auto;
  max-width: 1200px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.copy a {
  color: #B2895F;
}
.copy a:hover {
  color: #fff;
}
.copy span:not(:first-of-type) {
  margin: 0 8px;
}

#lp-appointment-form {
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}
#lp-appointment-form h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 10px auto 40px;
  color: #1D271B;
}
#lp-appointment-form > p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}
#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 550px;
  padding-right: 3px;
}
#lp-appointment-form label {
  display: none;
}
#lp-appointment-form input {
  width: 93%;
  height: 45px;
  display: table;
  margin: 10px auto;
  color: #1D271B;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid;
}
#lp-appointment-form input:focus {
  outline-style: solid;
  outline-width: thin;
}
#lp-appointment-form textarea {
  width: 93%;
  display: table;
  margin: 10px auto;
  color: #1D271B;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid;
  height: 200px;
  margin-bottom: 30px;
}
#lp-appointment-form textarea:focus {
  outline-style: solid;
  outline-width: thin;
}
#lp-appointment-form select {
  width: 93%;
  display: table;
  margin: 10px auto;
  color: #1D271B;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid;
}
#lp-appointment-form select:focus {
  outline-style: solid;
  outline-width: thin;
}
#lp-appointment-form button:focus {
  outline-style: solid;
  outline-width: thin;
}
#lp-appointment-form .btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "century-gothic", sans-serif;
}
#lp-appointment-form .btn:hover {
  background-color: #67798D;
  color: #fff;
}

/* -- video -- */
[data-player],
[data-vimeo],
[data-embed] {
  position: relative;
}

[data-player] .play,
[data-embed] .close,
[data-vimeo] .close {
  background-color: #00a5be;
  color: #fff;
  padding: 11px;
  text-transform: uppercase;
}

[data-player] .play:hover,
[data-embed] .close:hover,
[data-vimeo] .close:hover {
  background-color: #464646;
  color: #fff;
}

[data-embed] .play {
  position: absolute;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[data-embed] .close {
  position: absolute;
  top: 0;
  right: 0;
}

[data-embed] .close i:before {
  transform: rotate(45deg);
}

.vimeo[class*=elem-], .youtube[class*=elem-] {
  width: 440px;
}

.youtube, .vimeo {
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 0;
}

.youtube:before,
.vimeo:before,
.vimeo:after,
.youtube:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo:before,
.youtube:before {
  content: "";
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.vimeo:after,
.youtube:after {
  font-size: 70px;
  color: #ff0000;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80e";
}

.vimeo:after {
  color: rgb(0, 173, 239);
}

.vimeo:hover:after,
.youtube:hover:after {
  color: #4d4d4d;
}

.vimeo.active:before,
.vimeo.active:after,
.youtube.active:before,
.youtube.active:after {
  display: none;
}

#exceptional.active {
  height: 500px;
  width: 500px;
  display: grid;
  align-content: center;
}

/* FIXED TABS */
#fixed-tabs {
  display: none;
  position: fixed;
  right: 0;
  text-align: center;
  line-height: 1;
  font-size: 0;
  z-index: 510;
}

#fixed-tabs a {
  font-size: 12px;
  font-weight: 400;
  background-color: #7d7e82;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: width 0.3s, background-color 0.3s;
}

#fixed-tabs .ra {
  flex: 2;
}

#fixed-tabs i {
  font-size: 16px;
}

#fixed-tabs i, #fixed-tabs i:before {
  margin: 0 3px 0 0;
}

#fixed-tabs em {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 4px;
}

#fixed-tabs strong {
  font-weight: 900;
}

#fixed-tabs .ra, #fixed-tabs .map {
  background-color: #B2895F;
}

#fixed-tabs .call {
  background-color: #67798D;
  color: #fff;
}

@media (max-width: 1000px) {
  #fixed-tabs {
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  #fixed-tabs a {
    padding: 12px 0;
    flex: 1;
  }
  #fixed-tabs a span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
    display: none;
  }
  #fixed-tabs a strong {
    display: none;
  }
  #fixed-tabs .call, #fixed-tabs .map {
    display: block;
  }
}
@media (max-width: 1450px) {
  #banner .reader-stamp {
    right: 10%;
  }
}
@media (min-width: 790px) and (max-width: 1300px) {
  #banner figure {
    margin-bottom: -66px;
  }
}
@media (max-width: 1300px) {
  #review-container #over-reviews {
    display: none;
  }
  .review-stamp {
    display: none;
  }
  #banner-bar {
    margin: 0;
    padding: 20px;
    top: 0;
  }
  #banner-bar .special-badge {
    position: static;
  }
  #banner-bar div {
    max-width: none;
  }
  .lists {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  .lists .personalized {
    margin: 30px auto;
  }
}
@media (max-width: 1160px) {
  h2 {
    font-size: 45px;
  }
  .address {
    font-size: 16px;
  }
  .phone {
    font-size: 32px;
  }
  #stamp {
    right: auto;
    left: 10px;
    top: -130px;
  }
  #stamp img {
    max-width: 180px;
  }
  .border-box:before {
    width: 20px;
  }
  .border-box:after {
    width: 20px;
  }
  .personalized:last-of-type .border-box:before {
    width: 50px;
  }
  .personalized:last-of-type .border-box:after {
    width: 50px;
  }
}
@media (max-width: 1040px) {
  .split {
    flex-wrap: nowrap;
  }
  #banner figcaption {
    bottom: 66px;
  }
  #banner .reader-stamp {
    right: 5%;
    bottom: 50px;
    z-index: 10;
  }
}
@media (min-width: 1000px) {
  #mobile-btns {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  #exceptional.active {
    width: 100%;
    height: auto;
  }
  h2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .personalized h2 span {
    width: 100%;
  }
  .personalized h2 {
    display: block;
  }
  footer .address {
    font-size: 18px;
  }
  header address .address {
    display: none;
  }
  header .btn-alt {
    margin: 0;
    order: 0;
  }
  header .flex-ed {
    justify-content: space-around;
  }
  header #nav {
    padding: 0;
  }
  header #nav .btn {
    max-width: none;
  }
  header #nav .btn, header #nav #header-details {
    display: none;
  }
  header #nav .logo {
    margin: 10px 20px;
  }
  .phone {
    font-size: 24px;
  }
  #stamp {
    top: -100px;
  }
  h2 {
    text-align: center;
  }
  #practice h2 {
    text-align: center;
  }
  .lists {
    flex-wrap: wrap;
    justify-content: center;
  }
  .list ul {
    max-width: 490px;
  }
  .split {
    padding: 10px 20px !important;
  }
  .border-box:before {
    visibility: visible;
    width: 50px;
    bottom: 20px;
  }
  .border-box:after {
    visibility: visible;
    width: 50px;
    bottom: 20px;
  }
  #banner figcaption {
    bottom: 0;
    width: 100%;
  }
  .bkgrd {
    padding: 0;
  }
  #dentist {
    display: block;
    padding: 10px 0 0;
  }
  #dentist article {
    padding: 10px;
  }
  #dentist figure {
    margin: auto;
    max-width: 600px;
    padding: 0;
    padding-bottom: 60px;
  }
  #dentist figure a {
    bottom: 60px;
    max-height: 47px;
  }
  #reviews {
    padding: 0;
    background: #8EA8C2;
  }
  #review-container {
    -ms-flex-wrap: wrap;
    background-color: #fff;
    border-radius: 20px;
    margin: 60px auto;
    flex-wrap: wrap;
    padding: 20px;
  }
  #google {
    flex: 0 1 100%;
    border-radius: 0;
  }
  #google p {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google p img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  #google > div {
    margin-top: 10px;
  }
  #patients {
    display: block;
  }
  footer h2 {
    font-size: 50px;
  }
  footer .split {
    justify-content: center;
  }
  footer .split article {
    margin: 20px auto;
  }
  footer .flex-ed {
    margin: 20px 20px 50px;
  }
  footer .flex-ed #contact {
    display: none;
  }
  .frame iframe {
    height: 400px;
  }
  .looking-container {
    display: block;
  }
  .looking-container figure {
    margin-bottom: 20px;
  }
  .looking {
    padding-bottom: 20px;
  }
  .looking p {
    padding: 15px 25px;
  }
  .review-stamp {
    left: 0;
  }
  #review-container .comment #caption .star {
    margin: auto;
  }
}
@media (min-width: 900px) {
  #mobile-btns {
    display: none;
  }
}
@media (max-width: 900px) {
  .insurance #awards-list span {
    margin: 20px auto;
  }
  #nav #header-details, #nav > .btn {
    display: none;
  }
  #nav .logo {
    margin: 15px auto;
  }
  #nav {
    padding: 0;
  }
  #dentist h2, #practice h2, .insurance h2 {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  #dentist h2:before, #practice h2:before, .insurance h2:before {
    display: none;
  }
  #dentist h2:after, #practice h2:after, .insurance h2:after {
    content: "";
    bottom: 0;
    width: 150px;
    margin: auto;
    height: 2px;
    background-color: #000;
    position: absolute;
  }
  #practice h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .insurance h2 {
    margin-bottom: 20px !important;
  }
  .insurance h2:before {
    display: none;
  }
  .insurance h2:after {
    margin: auto;
  }
  #review-container .comment {
    padding: 35px 0 45px;
  }
  #review-container .comment img {
    margin: auto;
  }
}
@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .flex-ed {
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
  }
  header #nav {
    padding: 0;
  }
  header .btn-alt {
    flex: 0 1 50%;
    border-radius: 0;
    font-size: 16px;
    padding: 8px 10px 0;
  }
  header .btn-alt span {
    font-size: 26px;
  }
  header .logo {
    width: 100%;
    margin: 10px 20px;
    max-width: 100%;
  }
  header .logo img {
    max-width: 200px;
  }
  header .header-info {
    display: flex;
    width: 100%;
  }
  header .header-info .address {
    display: none;
  }
  header .header-info .phone {
    font-size: 21px;
    padding: 10px;
    background-color: #8EA8C2;
    color: #fff;
    flex: 0 1 50%;
  }
  header .header-info .phone small {
    color: #fff;
  }
  #safe-bar {
    color: #fff;
    background-color: #8EA8C2;
  }
  #safe-bar span:nth-of-type(2) {
    display: none;
  }
  .mobile-banner-reviews {
    display: block;
    text-transform: uppercase;
  }
  .mobile-banner-reviews img {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-banner-reviews p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 50px;
    font-weight: 700;
  }
  #banner .container {
    flex-wrap: wrap;
  }
  #banner figure {
    margin: 0;
  }
  #banner figure img {
    margin: 0 auto;
    max-width: 100%;
  }
  #banner figure #desktop-banner {
    display: none;
  }
  #banner figure #mobile-banner {
    display: block;
  }
  #banner h1 {
    position: static;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 15px;
  }
  #banner figcaption {
    left: 5%;
    bottom: 5px;
  }
  #banner .reader-stamp {
    right: 5%;
    bottom: 5px;
    z-index: 10;
  }
  .lists {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0;
    width: 100%;
  }
  .lists .flex-ed {
    margin-bottom: 0 !important;
  }
  .lists .flex-ed .image {
    margin: 30px 20px;
  }
  .lists .personalized {
    margin: 30px 20px 0;
    padding: 30px 20px 0;
    height: auto;
  }
  .lists .personalized .list {
    max-width: 750px;
    margin: 10px auto 20px;
  }
  .lists.odd .personalized {
    order: -1;
    margin-top: 0;
  }
  #stamp {
    position: static;
    display: block;
    max-width: 100%;
    background: linear-gradient(0deg, #031b1f 0%, #31A8D1 100%);
    min-height: 280px;
    display: flex;
    align-items: center;
    height: 35vh;
  }
  #stamp img {
    max-width: 100%;
  }
  .border-box:before {
    height: 63%;
  }
  .border-box:after {
    height: 63%;
  }
  .split p {
    text-align: center;
  }
  .comment {
    text-align: center;
  }
  #reviews {
    padding: 0 20px;
  }
  #reviews #review-container #google {
    border-radius: 10px 10px 0 0;
    flex: auto;
  }
  #reviews #review-container .comment p {
    font-size: 24px;
    text-align: center;
    line-height: 34px;
  }
  #reviews #review-container .comment .caption2 {
    font-size: 18px;
    width: 100%;
  }
  footer #footer-info {
    padding: 10px;
  }
  #practice {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #practice p {
    text-align: center;
  }
  #practice .flex-ed {
    display: block;
  }
  #practice .flex-ed > div {
    margin: 0 auto;
    right: 0;
  }
  #practice img {
    margin: 20px auto;
  }
  #practice .pager {
    margin-top: 20px;
  }
  #dentist figure {
    margin-top: -20px;
    padding-bottom: 20px;
  }
  #dentist figure figcaption {
    display: none;
  }
  footer h2 {
    font-size: 46px;
    justify-content: center;
  }
  footer .split {
    display: block;
  }
  footer .split > div {
    margin-top: 0;
  }
  footer article {
    margin: 20px auto 30px;
    max-width: 550px;
  }
  .hours {
    margin: 20px auto;
  }
}
@media (max-width: 700px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  #banner-bar {
    border-radius: 0;
    background-color: #fff;
    order: -1;
  }
  #banner-bar img {
    margin: 10px auto;
  }
  #banner-bar h2 {
    color: #1D271B;
  }
  #banner-bar div {
    margin: auto;
  }
  #banner {
    border-bottom: 15px solid #8EA8C2;
    width: 100%;
  }
  #safe-bar {
    order: -2;
  }
  #banner-bar #top-dentist {
    display: block !important;
    margin: 40px auto;
  }
  #credentials span {
    flex: 100%;
    margin: 30px auto;
  }
  .personalized {
    max-width: 375px;
  }
  .personalized h1 {
    font-size: 36px;
  }
  .personalized h2 {
    font-size: 36px;
  }
  .looking {
    margin: 20px;
  }
  .looking p {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 1.45;
  }
  .looking p span {
    font-size: 24px;
  }
  .insurance {
    padding: 0;
  }
  .insurance .container {
    padding: 0 10px;
  }
  #google > div {
    margin-top: 20px;
  }
  #google p {
    margin-bottom: 0;
  }
  .comment .caption2 {
    margin-top: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
}
@media (max-width: 650px) {
  #banner-bar div {
    display: block;
  }
  #banner-bar h2 {
    margin: 20px auto;
  }
}
@media (max-width: 590px) {
  h2 {
    font-size: 36px;
    margin-top: 10px;
  }
  #safe-bar {
    font-size: 20px;
  }
  #safe-bar span {
    margin: 0;
    width: 100%;
  }
  .personalized {
    padding: 20px 10px;
  }
  .personalized .list {
    margin: 10px auto;
  }
  .list ul li {
    font-size: 19px;
  }
  #review-container #google > div {
    margin-top: 50px;
  }
  #review-container #google p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #review-container #google p span {
    flex: 100%;
  }
  footer h2 {
    font-size: 48px;
    justify-content: center;
    margin-top: 0;
    padding: 0 10px;
  }
  footer article {
    padding-top: 20px;
  }
  footer article p {
    font-size: 32px;
    margin-top: 5px;
  }
  footer figure {
    margin-top: -10px;
  }
  .frame {
    max-width: 98%;
    margin: auto;
  }
  .frame iframe {
    display: none;
  }
  figcaption {
    margin-top: 0;
  }
  .copy {
    padding: 30px 10px 50px;
  }
  .looking .flex-ed {
    display: block;
  }
  .looking .flex-ed span {
    padding: 10px;
  }
  .looking .flex-ed img {
    margin: 15px auto;
  }
}
@media (max-width: 500px) {
  #banner figcaption {
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #fff;
    padding: 8px;
    position: static;
    font-size: 14px;
  }
  #banner .reader-stamp {
    position: relative;
    right: auto;
    padding: 10px 0;
    max-width: 240px;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .personalized h1, .personalized h2 {
    font-size: 36px;
  }
  h2 {
    font-size: 40px;
  }
  footer h2 {
    font-size: 50px;
  }
  footer #contact {
    max-width: 410px;
  }
  #practice .container {
    padding: 0;
  }
  .insurance #insurance-list img {
    margin: auto;
  }
  .border-box:before {
    display: none;
  }
  .border-box:after {
    display: none;
  }
  .bkgrd {
    padding-bottom: 25px;
  }
  .copy span:last-of-type {
    display: block;
    font-size: 0;
  }
  .header-info .phone {
    flex: 0 1 100%;
  }
}
@media (max-width: 400px) {
  header .btn-alt {
    font-size: 14px;
  }
  .mobile-banner-reviews p {
    padding: 0 30px;
    font-size: 16px;
  }
  header .header-info .phone {
    font-size: 18px;
  }
  #safe-bar {
    font-size: 17px;
  }
  .personalized {
    padding: 20px 10px;
  }
  .personalized p {
    font-size: 18px;
  }
  .personalized figcaption p {
    font-size: 18px;
  }
  .personalized li {
    line-height: 1;
    padding-bottom: 5px;
  }
  .comment p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .comment .caption2 {
    font-size: 15px;
  }
  #dentist .caption {
    font-size: 14px;
  }
  h2 {
    font-size: 40px;
  }
  .insurance h2 {
    margin: 10px 0 -15px;
    padding: 10px 0 25px;
  }
  .insurance .flex-ed div {
    margin: 15px 18px;
    flex: 1 1 100%;
  }
  #google p {
    font-size: 14px;
  }
  footer {
    padding-top: 50px;
  }
  .hours:before {
    top: 10px;
  }
}
@media (max-width: 370px) {
  header #nav #mobile-btns .btn {
    font-size: 12px;
  }
}/*# sourceMappingURL=lp-np-combo-styles.css.map */