$white: #fff;
$star: #febb21;
$primary: #FFA32F;
$secondary: #F2F1EC;
$tertiary:#505050;
$text: #000;
$font: 'Montserrat', sans-serif;
$font2: 'Montserrat', sans-serif;


/* keyframes */
@-webkit-keyframes fadeIn {
	from{opacity:0}
	to{opacity:1}
}
@keyframes fadeIn {
from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes slideIn {
from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slideIn {
from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@-webkit-keyframes fadeInUp {
from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUp {
from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fadeInRight {
from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInRight {
from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fadeInLeft {
from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInLeft {
from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}

/* general */
hr{display:block;position:relative;overflow:visible;-webkit-box-sizing:content-box;box-sizing:content-box;height:0;border:0}
main{display:block}
menu{display:block}
nav{display:block}
section{display:block}
summary{display:block}
body{margin:0;position:relative;background-color:#F2F1EC;font-family:$font;text-align:center}
button{overflow:visible;font:inherit;line-height:initial;margin:0;text-transform:none;cursor:pointer;-webkit-appearance:button;-moz-appearance:button;appearance:button;border:0;}
input{overflow:visible;font:inherit;line-height:initial;margin:0;}
select{overflow:visible;font:inherit;line-height:initial;margin:0;text-transform:none}
[type=checkbox]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;display:table;max-width:100%;white-space:normal}
html{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:100%;}
audio{display:inline-block;}
audio:not([controls]) {display:none;height:0}
canvas{display:inline-block}
progress{display:inline-block}
video{display:inline-block}
[hidden]{display:none}
template{display:none}
a{display:inline-block;text-decoration:none;cursor:pointer;}
a:active {outline-width:0}
a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b{font-weight:700}
strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:0 0 .67em;font-family:$font;margin:0;text-align:center;color:$white;font:400 44px/1.1 $font;font-size:26px;font-weight:300;display:block}
small{font-size:80%}
img{border-style:none;max-width:100%;display:block;margin:0 auto;max-width:100%}
svg:not(:root) {overflow:hidden}
textarea{font:inherit;line-height:initial;margin:0;overflow:auto}
optgroup{font-weight:700}
[type=button]{cursor:pointer}
[type=reset]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;appearance:button;border:0}
[type=submit]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;appearance:button;border:0}
[disabled]{cursor:default}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
*{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
::before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.clearfix:before {display:table;content:'';}
.clearfix:after{display:table;content:" ";clear:both}
address{font-style:normal!important}
.icon-gplus:before {margin-left:-1px!important}
[class*="icon-"]:before {line-height:1!important;display:block!important}
[class^=icon-]:before {line-height:1!important;display:block!important}
.fixons{z-index:103}
.flex-ed{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap}
.col-flex-ed{display:-webkit-box;display:-ms-flexbox;display:flex}
.animated{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.star:before {font-size:28px;font-family:'fontello';font-weight:400;margin:0;font-style:normal;content:'\e80f \e80f \e80f \e80f \e80f';color:$star;letter-spacing:8.4px}
p{font:400 20px/28px $font;color:$text}
h2{text-align:left;color: #2C3944;font-size:40px;font-weight:200;text-transform:uppercase;line-height:1.2;font-family:$font2!important;}
h3{font-size:32px;line-height:1.41;margin-top:10px}
h2,h3,h4,h5,h6{font-family:$font}
.progress{vertical-align:baseline}
sub{vertical-align:baseline;position:relative;font-size:50%;line-height:0;bottom:-.25em}
sup{vertical-align:baseline;position:relative;font-size:50%;line-height:0;top:-.45em}
.block{display:block}
.elem-left{display:block}
.elem-right{display:block}
article{display:block}
aside{display:block}
details{display:block}
figcaption{display:block;text-align:center;font:400 18px/1 $font;text-transform:uppercase;color:$primary}
strong{margin-top:0;font-weight:400;display:block;font-size:28px;font-family:$font;text-transform:uppercase}
figure{display:block;margin:0}

/* header */
header{position:relative;padding:0;z-index:100;background-color: #fff;
    address{padding:0 8px;}
    .address{text-align:left;display:flex;color: #000;font-size:18px;line-height:1.25;font-weight:400;letter-spacing:.55px;
        &:hover{color:$primary}
        i:before {color: $primary;font-size: 22px;margin-left: -10px;margin-right: 15px;margin-top: 9px;}
    }
	#nav{padding: 20px 10px;display:flex;flex-wrap:wrap;max-width:1300px;justify-content:space-between;margin:auto;align-items:center;
		.btn{margin: 0;padding: 14px 30px 13px;text-transform:uppercase;display: flex;transition: 0.3s all ease;flex-wrap: wrap;justify-content: center;font-size:18px;background-color: $primary;max-width: 470px;display:flex;color: $text;font-family: $font;font-weight: 600;border-radius: 30px;
			i:before {margin-right: 10px;margin-top: -2px;}
			span {display: block;width: 100%;font-size: 44px;text-transform: uppercase;font-weight: 600;}
			&:hover {background-color: $tertiary;color: #fff;}
		}
		#header-details {
			.pho {margin-bottom: 10px;font-weight: 500;font-size: 35px;
				&:hover {color: $primary;}
			}
		}
		#mobile-btns {
			width: 100%;display:flex;
			> * {flex: 1;height: 64px;}
			.btn {
				display: flex;
				flex-wrap: wrap;
				padding: 10px;
				justify-content: center;
				line-height: 1.3;
				color: #fff;
				border-radius: 0;
				font-size: 14px;
				margin: auto;
				text-transform: uppercase;
				span {
					width: 100%;font-size: 28px;
				  }
			}
			.phone, .btn {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				span {
					width: 100%;
				}
			  }
			.phone {background-color: #000;color: #fff;font-size: 20px;line-height: 1.3;
				span {text-transform: uppercase;font-size: 16px;font-weight: 700;letter-spacing: 1px;}
			}
			#mobile-special {
				.container {
					margin: 10px 0;border-top: 2px solid #AFB1B1;border-bottom: 2px solid #AFB1B1;padding: 5px;
					h4 {color: $tertiary;font-size: 22px;margin: 0;}
					small {text-transform: uppercase;font-size: 14px;letter-spacing: .7px;font-weight: 700;}
				}
			}
		  }
	}	
}
.fix-nav header{position:fixed;width:100%;left:0;top:0;right:0;animation-duration:.8s;animation-fill-mode:both;animation-name:slideIn;z-index:999;box-shadow:0 3px 7px rgba(0,0,0,0.35);
    .logo {margin-bottom: 0;
        img{max-height:80px}
    }
}

#safe-bar {
    width: 100%;
	position: relative;
	background-color: $tertiary;
	z-index: 10;
	-webkit-box-shadow: 1.6px 2.5px 13px rgba(7,8,8,0.35);
	box-shadow: 1.6px 2.5px 13px rgba(7,8,8,0.35);
	color: #fff;
	font: 400 24px/1.2 $font;
	padding: 10px;
	text-align: center;
	letter-spacing: 1px;
	span {
		margin: 0 30px;
	}flex-wrap:wrap;display: flex;justify-content: center; 
    div {margin: 0 30px;}
}

.pho{display:flex;color:#000;font:700 37px/30px $font;
    span{display:block;color:#FFF;font-size:14px;font-weight:500;text-transform:uppercase;font-family:$font}
    &:hover{color: $primary}
    i {display: flex;align-items: center;
        &:before {color: $primary;font-size: 22px;margin-left: 0px;margin-right: 15px;}
    }
}
.mobile-banner-reviews {
	display: none;
}

#three-ways {max-width: 1350px;
	margin: auto auto 50px;
	h2 {position: relative;display: flex;
		align-items: center;
		&:before {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-right: 30px;
			background-color: #000;
		}
		&:after {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-left: 30px;
			background-color: #000;
		}
	}
}

.personalized {
	position: relative;
	margin: 0;
	max-width: 1040px;
	background-color: $tertiary;
	padding: 20px 10px 30px;
	-webkit-box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
	box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
	-webkit-box-flex: 0;
	-ms-flex: 0 1 544px;
	flex: 0 1 544px;
	height: 340px;
	padding: 40px 0;
	h2 {
		margin: 0;
		text-align: center;
		color: $white;
		font: 200 40px/1.1 $font2;
		position: relative;
		line-height: 1;
		margin-top: 0;
		font-family: $font2;
		text-transform:uppercase;
		span {
			font-family: $font;
			letter-spacing: normal;
			font-size: 26px;
			font-weight: 300;
			text-transform: none;
			display: block;
			margin-bottom: 5px;
			width: 100%;
		}
	}
	h1 {
		position: relative;
		line-height: 1;
		text-transform:uppercase;
		margin-top: 0;
		font-weight: 200;
		font-family: $font2;
		font-size: 40px;
		span {
			font-family: $font;
			letter-spacing: normal;
			text-transform: none;
			font-size: 26px;
			font-weight: 300;
			display: block;
			margin-bottom: 5px;
		}
	}
	&:last-of-type {
		.border-box {
			&:before {
				width: 80px;
			}
			&:after {
				width: 80px;
			}
		}
	}
}
.header-info {
	display: contents;
}
.address {
	color: $text;
	font-size: 22px;
	line-height: 1.25;
	font-weight: 300;
	font-family: $font;
	&:hover {
		color: $text;
	}
}
// .phone {
// 	color: $primary;
// 	font-size: 34px;
// 	line-height: 1.1;
// 	font-weight: 300;
// 	font-family: $font;
// 	letter-spacing: normal;
// 	small {
// 		color: $text;
// 		font-size: 14px;
// 		display: block;
// 		text-transform: uppercase;
// 		font-weight: 700;
// 		letter-spacing: 2.25px;
// 		margin-bottom: 5px;
// 	}
// 	&:hover {
// 		color: $text;
// 	}
// }
// .fix-nav {
// 	header {
// 		position: fixed;
// 		width: 100%;
// 		left: 0;
// 		top: 0;
// 		right: 0;
// 		-webkit-animation: slideIn .8s both;
// 		animation: slideIn .8s both;
// 		-webkit-box-shadow: 1.6px 2.5px 7px rgba(6,7,7,0.35);
// 		box-shadow: 1.6px 2.5px 7px rgba(6,7,7,0.35);
// 		.logo {
// 			img {
// 				margin-bottom: 0;
// 				max-height: 120px;
// 			}
// 		}
// 	}
// }
.btn {
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 3px auto;
	padding: 12px 30px;
	color: $primary;
	font: 500 18px/1 'Playfair Display',serif;
	-webkit-transition: border .3s;
	transition: border .3s;
	background-color: $primary;
	letter-spacing: 1.8px;
	border-radius: 7px;
	&:hover {
		background-color: $primary;
		background-color: $primary;
		color: $text;
		color: $text;
	}
}
.btn-alt {
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 3px auto;
	padding: 12px 30px;
	color: $text;
	font: 500 18px/1 'Playfair Display',serif;
	-webkit-transition: border .3s;
	transition: border .3s;
	background-color: $primary;
	letter-spacing: 1.8px;
	border-radius: 7px;
	&:hover {
		background-color: $primary;
		background-color: $primary;
		color: $text;
		color: $text;
	}
}
.split {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	article {
		margin: 10px;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 585px;
		flex: 0 1 585px;
	}
	figure {
		img {
			position: relative;
		}
	}
}
.split.even {
	figure {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin-right: 40px;
	}
}

#banner {
	overflow: hidden;
	figure {
		margin-top: 0;
		position: relative;
		img {
			position: relative;
			width: 100%;
		}
		#mobile-banner {display:none;}
	}
	.reader-stamp {
		max-width: 170px;
		position: absolute;
		bottom: 100px;
		right: 20%;
	}
	figcaption {
		position: absolute;
		bottom: 80px;
		font-size: 16px;
		left: 25%;
		color: $text;
		background: rgba(255,255,255,0.8);
		padding: 5px 20px;
		font-family: $font;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .65px;
	}
}
#banner-bar {
	position: relative;
	top: -80px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 1px 3px 3px lightgray;
	max-width: 1200px;
	#top-dentist {display:none;}
	h2 {
		font-family: $font!important;
		font-size: 30px;
		color: #000;
		text-transform:none;
		margin: 20px 30px 20px 60px;
		font-weight: 400;
		letter-spacing: normal;
	}
	.special-badge {
		position: absolute;
		left: -55px;
		top: -45px;
	}
	div {
		display: flex;
		align-items: center;
		max-width: 82%;
		margin: auto 30px auto auto;
	}
}
.lists {
	position: relative;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	max-width: 1200px;
	margin: 20px auto;
	.flex-ed {justify-content: space-around;
		&:first-of-type {margin-bottom: 50px;}
		.image {display: flex;align-items: center;
			img {box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.35);}
		}
	}
	&:first-of-type {
		.image {padding: 0;}
	}
	&.odd {
		.image {padding: 0;}
	}
	sup {
		top: -.7em;
	}
	> h2 {display:flex;flex-wrap:wrap;align-items:center;justify-content:center;
		&:before {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-right: 70px;
			background-color: #000;
		}
		&:after {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-left: 70px;
			background-color: #000;
		}
	}
}

#credentials {border-top: 5px solid $primary;border-bottom: 5px solid $primary;margin: 50px auto;
	> div {display:flex;flex-wrap:wrap;justify-content: space-around;align-items:center;max-width: 1400px;margin:20px auto;}
	span {margin: 20px;}
}

#stamp {
	position: absolute;
	z-index: 2;
	top: -135px;
	left: 0;
	right: 0;
	margin: auto;
}
.border-box {
	&:before {
		content: '';
		position: absolute;
		left: 10px;
		bottom: 10px;
		margin-bottom: 20px;
		margin-left: 20px;
		display: inline-block;
		height: 71%;
		width: 30px;
		border-top: 5px solid rgba(255,255,255,0.5);
		border-left: 5px solid rgba(255,255,255,0.5);
		border-bottom: 5px solid rgba(255,255,255,0.5);
		border-radius: 20px 0 0 20px;
	}
	&:after {
		content: '';
		position: absolute;
		right: 10px;
		bottom: 10px;
		margin-bottom: 20px;
		margin-right: 20px;
		display: inline-block;
		height: 71%;
		width: 30px;
		border-top: 5px solid rgba(255,255,255,0.5);
		border-right: 5px solid rgba(255,255,255,0.5);
		border-bottom: 5px solid rgba(255,255,255,0.5);
		border-radius: 0 20px 20px 0;
	}
}
.list {
	text-align: left;
	display: table;
	margin: auto;
	ul {
		padding-left: 0;
		padding-bottom: 10px;
		li {
			width: 100%;
			color: $white;
			font: 400 24px/1.2 $font;
			letter-spacing: .6px;
			padding-left: 32px;
			padding-top: 10px;
			list-style: none;
			position: relative;
			&:before {
				content: '\e832';
				font-family: 'fontello';
				color: $primary;
				font-size: .9em;
				position: absolute;
				top: 10px;
				left: -2px;
			}
		}
	}
}
.looking {
	max-width: 1140px;
	margin: 70px auto 20px;
	box-shadow: 1px 4px 6px lightgray;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
	p {
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		margin: auto;
		padding: 15px 10px;
		text-align: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		span {
			font-size: 30px;
			font-weight: 400;
		}
	}
	.flex-ed {
		max-width: 660px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 30px auto;
		span {
			color: $text;
			font-size: 38px;
			text-align: center;
			font-weight: 700;
			margin-top: 18px;
			padding-left: 50px;
		}
		img {
			margin: 0;
		}
	}
}
.bkgrd {
	padding: 0 0 1px;
	position: relative;
}
.insurance {
	text-align: left;
	padding: 10px 0 0;
	position: relative;
	overflow: hidden;
	.container {
		max-width: 1220px;
		margin: auto;
		padding: 30px 30px 0;
		text-align: center;
	}
	#insurance-list, #awards-list {margin: 20px auto;display:flex;flex-wrap:wrap;justify-content: space-evenly;align-items:center;}
	#insurance-list {
		span {margin: 20px auto;}
	}
	h2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: relative;
		text-align: center;
		z-index: 2;
		padding: 10px 20px 15px;
		margin: 10px auto -15px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-family: $font2;
		span {margin: 0 10px;color: $tertiary}
		&:before {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-right: 70px;
			background-color: #000;
		}
		&:after {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-left: 70px;
			background-color: #000;
		}
	}
	.flex-ed {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		span {
			padding: 5px;
			margin: 5px 10px;
		}
	}
	p {
		line-height: 28px;
		margin: 10px auto;
	}
	#disclaimer {
		opacity: 0.4;
		font: 400 14px/1 $font;
		margin-top: 20px;
		text-align: center;
	}
}

#education {padding-bottom: 0;}

#dentist {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 20px 10px 60px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	article {
		text-align: left;
		padding: 5px;
		h2 {text-transform: none;
			span {color: $tertiary;}
		}
	}
	figure {
		position: relative;
		margin-bottom: -1px;
		a {
			width: 100%;left: 0;position: absolute;bottom: 0;
				color: $text;
				font-family: $font;
				font-size: 18px;
				letter-spacing: .05em;
				text-transform: uppercase;
				font-weight: 700;
				padding: 10px;
				text-align: center;
				margin: auto;
				background-color: rgba(255, 255, 255, 0.9);
				&:hover {color: $primary;}
		}
	}
}
.caption {
	position: relative;
	display: table;
	margin: -20px auto 20px;
	padding: 0 5px;
	color: $primary;
	a {
		color: $primary;
		display: inline-block;
		padding: 10px;
		text-align: center;
		font: 400 16px/1 $font;
		bottom: 0;
		margin: auto;
		span {
			margin: 0 10px;
		}
		&:hover {
			color: $text;
		}
	}
}
#reviews {
	background: url(assets/images/lp-combo-reviews-bkgd.jpg);background-size: cover;background-repeat:no-repeat;
	padding: 30px 0;
}
#review-container {
	position: relative;
	max-width: 1200px;
	color: $white;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	margin: auto;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	border-radius: 10px;
	.comment {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 780px;
		flex: 1 1 780px;
		padding: 35px 50px 45px;
		text-align: left;
		margin: auto;
		img {margin: 0;}
		p {
			font: 400 32px/40px $font;
			margin-top: 0;
			margin-top: 10px;
			margin-bottom: 10px;
			color: #fff;
			letter-spacing: .03em;
		}
		#caption {display:flex;flex-wrap:wrap;
			.caption2 {
				font: 700 18px/1 $font;
				text-transform: uppercase;
				margin: 10px 20px 10px 0;
				letter-spacing: 1.95px;
			}
			.star {align-self: center;}
		}
	}
}


#practice {
	padding: 70px 15px 80px;
	h2 {display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: relative;
		z-index: 2;
		padding: 10px 20px 15px;
		margin: auto;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-family: $font2;
		text-align: center;
		max-width: 1100px;
		margin-bottom: 20px;
		span {margin: 0 10px;color: $tertiary;}
		&:before {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-right: 70px;
			background-color: #000;
		}
		&:after {
			content: '';
			height: 2px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-left: 70px;
			background-color: #000;
		}
	}
	p {
		text-align: center;
		margin: auto;
		margin-bottom: 40px;
	}
	.container {
		max-width: 1200px;
		padding-top: 20px;
		margin: auto;
	}
	.flex-ed {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		max-width: 1120px;
		margin: auto;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		>div {
			margin: 10px;
		}
	}
	img {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
		box-shadow: 1.6px 2.5px 7px rgba(7,8,8,0.35);
	}
	.pager {
		span {
			width: 17px;
			height: 17px;
			border-radius: 50%;
			display: inline-block;
			+ {
				span {
					margin-left: 14px;
				}
			}
		}
		span.cycle-pager-active {
			background-color: $primary;
		}
	}
}
#contact {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 370px;
	flex: 0 1 370px;
	padding: 0 10px 20px;
}
#map {
	display: table;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	iframe {
		display: block;
	}
}
.simple {
	margin: 20px 0 5px;
	.btn {
		width: 140px;
		font-size: 14px;
		font-weight: 700;
		padding: 10px;
		&:focus {
			-webkit-box-shadow: inset 0 3px 0 #31A8D1;
			box-shadow: inset 0 3px 0 #31A8D1;
		}
	}
	input {
		height: 36px;
		outline: none;
		border: none;
		margin: 3px 0;
		width: 90%;
		padding: 3px 10px;
		font-size: 14px;
		color: $text;
		&:focus {
			-webkit-box-shadow: inset 0 3px 0 #31A8D1;
			box-shadow: inset 0 3px 0 #31A8D1;
		}
	}
	textarea {
		height: 80px;
		padding-top: 8px;
		outline: none;
		border: none;
		margin: 3px 0;
		width: 90%;
		padding: 3px 10px;
		font-size: 14px;
		color: $text;
		&:focus {
			-webkit-box-shadow: inset 0 3px 0 #31A8D1;
			box-shadow: inset 0 3px 0 #31A8D1;
		}
	}
}
::-webkit-input-placeholder {
	color: $text;
	color: $text;
}
:-ms-input-placeholder {
	color: $text;
	color: $text;
}
::-ms-input-placeholder {
	color: $text;
	color: $text;
}
::placeholder {
	color: $text;
	color: $text;
}
.hours {
	display: table;
	margin: 0;
	position: relative;
	padding: 10px 15px;
	.hour-title {
		font-size: 22px;
		letter-spacing: .03em;
		font-weight: 700;
		color: $primary;
		text-align: center;
		margin: auto;
		text-transform: uppercase;
	}
	label {
		width: 115px;
		display: inline-block;
		font-weight: 600;
	}
	p {
		font-size: 17px;
		color: $primary;
		line-height: 1.5;
		font-family: $font;
		text-align: left !important;
	}
}
.frame {
	overflow: hidden;
	display: table;
	width: 95%;
	margin: auto;
	border-radius: 10px;
	iframe {
		height: 360px;
		display: block;
		max-width: 520px;
		margin: auto;
		width: 100%;
		border-radius: 15px;
	}
}

/* footer */
footer {
	display: block;
	z-index: 102;
	padding-top: 30px;
	background-color: #505050;
	.flex-ed {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: space-evenly;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: flex-start;
		margin: auto auto 50px;
		max-width: 1300px;
		#footer-info, #map {
			height: 450px;
		}
	}
	#footer-info {
		padding: 50px 30px;
		background-color: $white;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 470px;
		justify-content: center;
		p {
			text-transform: uppercase;
			font-size: 19px;
			font-weight: 700;
			margin-bottom:0;
			margin-top: 0;
				span {font-size: 32px;}
		}
	}
	h2 {text-align:center;color: $white;font-size: 65px;
		span {color: $tertiary}
	}
	h3 {
		// font-family: $font-family-1;
		font-weight: 700;
		margin-bottom: 10px;
	}
	article {
			border-radius: 10px;
		text-align: center;
		margin: 0px;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
	#contact {
		color: $white;
		flex: 0 1 750px;
		h3 {
			font-size: 30px;
			margin-bottom: 0;
		}
	}
	.phone {
		font-size: 31px;
		color: $primary;
		margin: 20px auto 0;
		font-weight: 700;
		display: block;
		letter-spacing: .28px;
		&:hover {
			color: $tertiary;
		}
		small {
			font-size: 19px;
			display: block;
text-transform: uppercase;
color: #000;
		}
	}
	.address {
		font-size: 20px;
		line-height: 25px;
		margin: 5px;
		&:hover {
			color: $primary;
		}
	}
}
.copy {
	padding: 30px 10px;
	background-color: $text;
	margin: auto;
	letter-spacing: 1px;
	font: 300 14px/1.4 $font;
	color: #fff;
	text-transform: uppercase;
	p {
		margin: 20px auto;
		max-width: 1200px;
		color: $white;
		font-size: 14px;
		line-height: 18px;
	}
	a {
		color: $primary;
		&:hover {
			color: #fff;
		}
	}
	span:not(:first-of-type) {
		margin: 0 8px;
	}
}
#lp-appointment-form {
	max-width: 850px;
	padding: 10px;
	margin: 20px auto;
	position: relative;
	text-align: center;
	h1 {
		font-size: 50px;
		font-weight: 700;
		margin: 10px auto 40px;
		color: $text;
	}
	>p {
		max-width: 700px;
		margin: auto;
		margin-bottom: 30px;
	}
	.simple {
		margin: 40px auto 20px;
		max-width: 550px;
		padding-right: 3px;
	}
	label {
		display: none;
	}
	input {
		width: 93%;
		height: 45px;
		display: table;
		margin: 10px auto;
		color: $text;
		border-radius: 5px;
		padding: 15px;
		font-size: 16px;
		border: 1px solid;
		&:focus {
			outline-style: solid;
			outline-width: thin;
		}
	}
	textarea {
		width: 93%;
		display: table;
		margin: 10px auto;
		color: $text;
		border-radius: 5px;
		padding: 15px;
		font-size: 16px;
		border: none;
		-webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
		box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
		height: 200px;
		margin-bottom: 30px;
		&:focus {
			outline-style: solid;
			outline-width: thin;
			
		}
	}
	select {
		width: 93%;
		display: table;
		margin: 10px auto;
		color: $text;
		border-radius: 5px;
		padding: 15px;
		font-size: 16px;
		border: 1px solid;
		&:focus {
			outline-style: solid;
			outline-width: thin;
			
		}
	}
	button {
		&:focus {
			outline-style: solid;
			outline-width: thin;
			
		}
	}
	.btn {color: #fff;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $font;}
}



/* FIXED TABS */
#fixed-tabs { display:none;position: fixed; right: 0; text-align: center; line-height: 1; font-size: 0; z-index: 510;}
#fixed-tabs a { font-size: 12px; font-weight: 700;background-color: #7d7e82; color: #fff; position: relative; overflow: hidden; transition: width .3s, background-color .3s;}
#fixed-tabs .ra {flex: 2;}
#fixed-tabs .call, #fixed-tabs .ra, #fixed-tabs .map {color: #000;}
#fixed-tabs i { font-size: 16px; }
#fixed-tabs i, #fixed-tabs i:before { margin: 0 3px 0 0; }
#fixed-tabs em { font-size: 14px; font-style: normal; font-weight: 700; text-transform: uppercase; }
#fixed-tabs strong { font-weight: 900; }
#fixed-tabs .ra, #fixed-tabs .map { background-color: $primary; }
#fixed-tabs .call {background-color: $secondary;}
@media (max-width:1000px) {
  #fixed-tabs { bottom: 0; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  #fixed-tabs a { padding: 12px 0; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
  #fixed-tabs a span { display: flex;justify-content: center;align-items:center;; }
  #fixed-tabs a span:last-child { margin-left: 7px;display:none; }
  #fixed-tabs a strong { display: none; }
  #fixed-tabs .call, #fixed-tabs .map { display: block; }
}




@media (max-width: 1450px) {
	#banner {
		.reader-stamp {
			right: 10%;
		}
	}
}
@media (min-width: 790px) and (max-width: 1300px) {
	#banner figure {margin-bottom:-66px}
}
@media (max-width: 1300px) {
	#review-container #over-reviews {display:none;}
	.review-stamp {display:none;}
	#banner-bar {
		margin: 0;
		padding: 20px;
		top: 0;
		.special-badge {
			position: static;
		}
		div {
			max-width: none;
		}
	}
	.lists {
		margin: 0;
	}
}
@media (max-width: 1200px) {
	.lists .personalized {margin: 30px auto;}
}
@media (max-width: 1160px) {
	h2 {
		font-size: 45px;
	}
	.address {
		font-size: 16px;
	}
	.phone {
		font-size: 32px;
	}
	#stamp {
		right: auto;
		left: 10px;
		top: -130px;
		img {
			max-width: 180px;
		}
	}
	.border-box {
		&:before {
			width: 20px;
		}
		&:after {
			width: 20px;
		}
	}
	.personalized {
		&:last-of-type {
			.border-box {
				&:before {
					width: 50px;
				}
				&:after {
					width: 50px;
				}
			}
		}
	}
}
@media (max-width: 1040px) {
	.split {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	#banner {
		figcaption {
			bottom: 66px;
		}
		.reader-stamp {
			right: 5%;
			bottom: 50px;
			z-index: 10;
		}
	}
}
@media (min-width: 1000px) {
	#mobile-btns {
	  display: none!important;
	}
}
@media (max-width: 1000px) {
	h2 {text-align:center;display: flex;
		flex-wrap: wrap;}
	.personalized h2 span {width: 100%;}
	.personalized h2 {display:block;}
	header {
		address {
			.address {
				display: none;
			}
		}
		.btn-alt {
			margin: 0;
			-webkit-box-ordinal-group: 1;
			-ms-flex-order: 0;
			order: 0;
		}
		.flex-ed {
			-ms-flex-pack: distribute;
			justify-content: space-around;
		}
		#nav {padding: 0;
			.btn {max-width: none;}
			.btn, #header-details {display:none;}
			.logo {margin: 20px;}
		}
	}
	.phone {
		font-size: 24px;
	}
	#stamp {
		top: -100px;
	}
	h2 {
		text-align: center;
	}
	#practice {
		h2 {
			text-align: center;
		}
	}
	.lists {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.list {
		ul {
			max-width: 490px;
		}
	}
	.split {padding: 10px 20px!important;}
	.border-box {
		&:before {
			visibility: visible;
			width: 50px;
			bottom: 20px;
		}
		&:after {
			visibility: visible;
			width: 50px;
			bottom: 20px;
		}
	}
	#banner figcaption {bottom: 0;width: 100%;}
	.bkgrd {
		padding: 0;
	}
	#dentist {
		display: block;
		padding: 10px 0 0;
		article {
			padding: 10px;
		}
		figure {
			margin: auto;
			max-width: 600px;
			padding: 0;
			padding-bottom: 60px;
			a {bottom: 60px;}
		}
	}
	#reviews {
		padding: 0;
	}
	#review-container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	#google {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 100%;
		flex: 0 1 100%;
		border-radius: 0;
		p {
			display: inline-block;
			vertical-align: middle;
			margin: 5px 5px 10px;
			img {
				display: inline-block;
				vertical-align: middle;
				margin: 5px 5px 10px;
			}
		}
		>div {
			margin-top: 10px;
		}
	}
	#patients {
		display: block;
	}
	footer {
		h2 {
			font-size: 50px;
		}
		.split {
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			article {
				margin: 20px auto;
			}
		}
		.flex-ed {
			margin: 20px 20px 50px;
			#contact {display:none;}
		}
	}
	.frame {
		iframe {
			height: 400px;
		}
	}
	.looking-container {
		display: block;
		figure {
			margin-bottom: 20px;
		}
	}
	.looking {
		padding-bottom: 20px;
		p {
			padding: 15px 25px;
		}
	}
	.review-stamp {
		left: 0;
	}
}
@media (min-width: 900px) {
	#mobile-btns {display:none;}
}
@media (max-width: 900px) {
	.insurance #awards-list span {margin: 20px auto;}
	#nav #header-details,#nav > .btn {display:none;}
	#nav .logo {margin: 15px auto;}
	#nav {padding: 0;}
	#dentist, #practice, .insurance {
		h2 {position: relative;display: flex;justify-content: center;padding-bottom: 30px;
			&:before {display:none;}
			&:after {content: '';bottom: 0;width: 150px;margin: auto;height: 2px;background-color: #000;position: absolute;}
		}
	}
	#practice h2 {padding-bottom: 20px;margin-bottom: 20px;}
	.insurance {
		h2 {margin-bottom: 20px!important;
			&:before {display:none;}
			&:after {margin: auto;}
		}
	}
	#review-container .comment {padding: 35px 0 45px;
		img {margin: auto;}
	}
}
@media (max-width: 790px) {
	header {
		padding: 0;
		.flex-ed {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
			padding: 0;
		}
		#nav {padding:0;}
		.btn-alt {
			-webkit-box-flex: 0;
			-ms-flex: 0 1 50%;
			flex: 0 1 50%;
			border-radius: 0;
			font-size: 16px;
			padding:8px 10px 0;
			span {
				font-size: 26px
			}
		}
		.logo {
			width: 100%;
			margin: 10px auto;
			max-width: 100%;
		}
		.header-info {
			display:flex;width: 100%;
			.address {
				display:none;
			}
			.phone {
				font-size: 21px;
				padding:10px;
				background-color: $tertiary;
				color: $white;
				flex: 0 1 50%;
				small {color: $white;}
			}
		}
	}
	#safe-bar {
		color: $white;
		background-color:$tertiary;
		span {
			&:nth-of-type(2) {
				display: none;
			}
		}
	}
	.mobile-banner-reviews {
		display: block;
		text-transform: uppercase;
		img {
			display: inline-block;
			vertical-align: middle;
		}
		p {
			display: inline-block;
			vertical-align: middle;
			padding: 0 50px;
			font-weight: 700;
		}
	}
	#banner {
		.container {
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		figure {
			margin: 0;
			img {
				margin: 0 auto;
				max-width: 100%;
			}
			#desktop-banner {display:none;}
			#mobile-banner {display:block;}
		}
		h1 {
			position: static;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: .3em;
			margin-top: 15px;
		}
		figcaption {
			left: 5%;
			bottom: 5px;
		}
		.reader-stamp {
			right: 5%;
			bottom: 5px;
			z-index: 10;
		}
	}
	.lists {
		display: block;
		margin: 0 auto 20px; 
		padding: 20px 0 0;
		width: 100%;
		.flex-ed {margin-bottom: 0!important;
			.image {margin: 30px 20px;}
		}
		.personalized {
			margin: 30px 20px 0;
			border-radius: 20px;
			padding: 35px 20px 10px;
			height: auto;
			.list {
				max-width: 750px;
				margin: 10px auto 20px;
			}
		}
		&.odd {
			.personalized {order: -1;}
		}
	}

	#stamp {
		position: static;
		display: block;
		max-width: 100%;
		background: -webkit-gradient(linear,left bottom,left top,from(#031b1f),to(#31A8D1));
		background: linear-gradient(0deg,#031b1f 0%,#31A8D1 100%);
		min-height: 280px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 35vh;
		img {
			max-width: 100%;
		}
	}
	.border-box {
		&:before {
			height: 63%;
		}
		&:after {
			height: 63%;
		}
	}
	.split {
		p {
			text-align: center;
		}
	}
	.comment {
		text-align: center;
	}
	#reviews {
		padding: 40px 25px;
		#review-container {
			#google {border-radius:10px 10px 0 0;flex: auto;}
			.comment {
				p {font-size: 24px;text-align: center;}
				.caption2 {font-size: 18px;width: 100%;}
			}
		}
	}
	#practice {
		p {
			text-align: center;
		}
		padding-bottom: 20px;
		.flex-ed {
			display: block;
			>div {
				margin: 0 auto;
				right: 0;
			}
		}
		img {
			margin: 20px auto;
		}
		.pager {
			margin-top: 20px;
		}
	}
	#dentist {
		figure {
			margin-top: -20px;
		}
	}
	footer {
		h2 {
			font-size: 46px;
		}
		.split {
			>div {
				margin-top: 0;
			}
			display: block;
		}
		article {
			margin: 20px auto 30px;
			max-width: 550px;
		}
	}
	.hours {
		margin: 20px auto;
	}
}
@media (max-width: 700px) {
	main {display:flex;flex-wrap:wrap;}
	#banner-bar {border-radius: 0;background-color: #F3F3F0;order: -1;
		img {margin: 20px auto 40px;}
		h2 {color: $text;}
	}
	#banner-bar div {margin: auto;}
	#banner {border-bottom: 15px solid $primary;}
	#safe-bar {order: -2;}
	#banner-bar #top-dentist {display:block!important;margin: 40px auto;}
	#credentials span {flex: 100%;margin: 30px auto;}
	.personalized {
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 36px;
		}
	}
	.looking {
		margin: 20px;
		p {
			padding: 14px 20px;
			font-size: 18px;
			line-height: 1.45;
			span {
				font-size: 24px;
			}
		}
	}
	.insurance {
		padding: 0;
	}
	#google {
		>div {
			margin-top: 20px;
		}
		p {
			margin-bottom: 0;
		}
	}
	.comment {
		.caption2 {
			margin-top: 0;
		}
	}
	#lp-appointment-form {
		h1 {
			font-size: 36px;
		}
	}
}
@media (max-width: 650px) {
	#banner-bar {
		div {
			display: block;
		}
		h2 {
			margin: 20px auto;
		}
	}
}
@media (max-width: 590px) {
	h2 {
		font-size: 36px;
		margin-top: 10px;
	}
	#safe-bar {
		font-size: 20px;
		span {
			margin: 0;width: 100%;
		}
	}
	.personalized {
		padding: 20px 10px;
		.list {
			margin: 10px auto;
		}
	}
	.list {
		ul {
			li {
				font-size: 19px;
			}
		}
	}
	#review-container {
		#google {
			> div {margin-top: 50px;}
			p {display: flex;flex-wrap: wrap;justify-content: center;align-items: center;
				span {flex: 100%;}
			}
		}
	}
	footer {
		h2 {
			font-size: 40px;
			margin-top: 0;
			padding: 0 10px;
		}
		article {
			padding-top: 20px;
			p {
				font-size: 32px;
				margin-top: 5px;
			}
		}
		figure {
			margin-top: -10px;
		}
	}
	.frame {
		max-width: 98%;
		margin: auto;
		iframe {
			display: none;
		}
	}
	figcaption {
		margin-top: 0;
	}
	.copy {
		padding: 30px 10px 50px;
	}
	.looking {
		.flex-ed {
			display: block;
			span {
				padding: 10px;
			}
			img {
				margin: 15px auto;
			}
		}
	}
}
@media (max-width: 500px) {
	#banner {
		figcaption {
			bottom: 0;width: 100%;left: 0;background-color: #fff;padding: 8px;position: static;
		}
		.reader-stamp {
			position: relative;
			right: auto;
			padding: 10px 0;
			max-width: 240px;
			bottom: 0;
		}
	}
}
@media (max-width: 480px) {
	.personalized {
		h1, h2 {
			font-size: 36px;
		}
	}
	h2 {
		font-size: 36px;
	}
	footer {
		h2 {
			font-size: 50px;
		}
		#contact {
			max-width: 410px;
		}
	}
	#practice {
		.container {
			padding: 0;
		}
	}
	.insurance #insurance-list img {margin: auto;}
	.border-box {
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
	.bkgrd {
		padding-bottom: 25px;
	}
	.copy {
		span {
			&:last-of-type {
				display: block;
				font-size: 0;
			}
		}
	}
	.header-info {
		.phone {
			-webkit-box-flex: 0;
			-ms-flex: 0 1 100%;
			flex: 0 1 100%;
		}
	}
}
@media (max-width: 400px) {
	header {
		.btn-alt {
			font-size: 14px;
		}
	}
	.mobile-banner-reviews {
		p {
			padding: 0 30px;
			font-size: 16px;
		}
	}
	header .header-info .phone {font-size: 18px;}
	#safe-bar {
		font-size: 17px;
	}
	.personalized {
		padding: 20px 10px;
		p {
			font-size: 18px;
		}
		figcaption {
			p {
				font-size: 18px;
			}
		}
		li {
			line-height: 1;
			padding-bottom: 5px;
		}
	}
	.comment {
		p {
			font-size: 16px;
			letter-spacing: 1px;
		}
		.caption2 {
			font-size: 15px;
		}
	}
	#dentist {
		.caption {
			font-size: 14px;
		}
	}
	h2 {
		font-size: 32px;
	}
	.insurance {
		h2 {
			margin: 10px 0 -15px;
			padding: 10px 0 25px;
		}
		.container {padding: 30px 10px;}
		.flex-ed {
			div {
				margin: 15px 18px;
				-webkit-box-flex: 1;
				-ms-flex: 1 1 100%;
				flex: 1 1 100%;
			}
		}
	}
	#google {
		p {
			font-size: 14px;
		}
	}
	footer {
		padding-top: 50px;
	}
	.hours {
		&:before {
			top: 10px;
		}
	}
}
@media (max-width: 370px) {
	header #nav #mobile-btns .btn {font-size: 12px;}
}
